/*------------------------------------*\
  VARS

  basic vars
\*------------------------------------*/

$base-line-height: 1.5;
$base-font-family: $primary-font-family;
$base-letter-spacing: 1.3px;


/*------------------------------------*\
  SIZING & SPACING


\*------------------------------------*/

/*
** PAGE SIZES
*/

$page-max-size: 920px;


/*
** SPACING RHYTHM
*/

$base-spacing: 4px;
$baseline: $base-line-height * 1rem;


/*------------------------------------*\
  USE VARS

  define what do you want to use
\*------------------------------------*/

$use-spacing-helpers: true;
$use-spacing-helpers-responsive: false;

$use-grid: true;
