/*
** BASICS
*/

$base-line-height: 1.5;
$base-font-family: $primary-font-family;
$base-letter-spacing: 1.3px;

/*
** PAGE SIZES
*/

$page-max-size: 920px;

/*
** USE VARS (decide what settings to use)
*/

$base-spacing: 4px;
$baseline: $base-line-height * 1rem;
$use-spacing-helpers: true;
$use-spacing-helpers-responsive: false;

$use-grid: true;
