$colorPool: (
  blue: (
    500: #009fe3,
    600: #006bb3,
  ),
  green: (
    500: #DDFF00,
    600: #87C467,
  ),
  grey: (
    100: #FFFFFF,
    300: #FAFBFC,
    400: #F4F5F7,
    450: #EBECF0,
    500: #DFE1E6,
    550: #C1C7D0,
    600: #A1A8B3,
    700: #737880,
    800: #45484D,
    900: #0E1A2A,
  ),
  orange: (
    500: #FF7A31,
    600: #D36D35,
  ),
  purple: (
    500: #9474FF,
    600: #5960C1,
  ),
  red: (
    500: #FF045F,
    600: #AB3850,
  ),
  teal: (
    500: #00FFA1,
    600: #2FB79C,
  ),
  yellow: (
    500: #FFD43E,
    600: #E7BD2D,
  ),
);

$colorNames: (
  base: (
    base: map_get(map_get($colorPool, grey), 900),
  ),
  brand: (
    base: map_get(map_get($colorPool, blue), 500),
    dark: map_get(map_get($colorPool, grey), 900),
  )
);

$colors: map_merge($colorPool, $colorNames);
